@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body, html {
	justify-content: center;
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	height: 100%;
	width: 100%;
	background-color: transparent;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;
    z-index: 9999;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

#overlay.show {
    opacity: 1;
    pointer-events: auto;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #212121;
}

.cut {
	width: 60vw;
	height: 100%;
	align-items: center;
	min-width: 900px;
	margin: 0 auto;
	z-index: 1;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none; 
	-ms-user-select: none;
}

.nav-container{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	font-size: 16px;	
	font-family: 'Source Code Pro', sans-serif;
	background: transparent;
	position: relative;
}

.nav-left {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
}

.nav-container h1{
	font-size: 28px;
	margin: 0;
	color: #d9d9d9;
}

.nav-image {
	width: 40px;
	height: auto;
    margin-left: 30px;
}

.menu-toggle,
.menu-close {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.menu-toggle {
    display: flex;
	width: 50vw;
	max-height: 4vh;
	padding: 5px 20px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.menu-toggle span {
    position: absolute;
    background: rgb(15, 255, 255);
    transition: 0.5s;
    opacity: 0.5;
}

.menu-toggle .top-border {
    width: 10px;
    height: 2px;
    top: 0;
    left: 2px;
}

.menu-toggle .left-border {
    width: 2px;
    height: 10px;
    top: 0;
    left: 0;
}

.menu-toggle .right-border {
    width: 2px;
    height: 10px;
    bottom: 0;
    right: 0;
}

.menu-toggle .bottom-border {
    width: 10px;
    height: 2px;
    bottom: 0;
    right: 2px;
}

.menu-toggle:hover .top-border,
.menu-toggle:hover .bottom-border {
    width: 80%;
    opacity: 0.5;
    box-shadow: 0 0 10px rgb(15, 255, 255), 0 0 15px rgb(15, 255, 255), 0 0 20px rgb(15, 255, 255);
}

.menu-toggle:hover .left-border,
.menu-toggle:hover .right-border {
    height: 50%;
    opacity: 0.5;
    box-shadow: 0 0 10px rgb(15, 255, 255), 0 0 15px rgb(15, 255, 255), 0 0 20px rgb(15, 255, 255);
}

.nav-right {
	display: flex;
    justify-content: flex-end;    
    width: 70%;
}

.nav-menu {
    background: transparent;
	list-style: none;
	padding: 0 auto;
}

.nav-menu li {
    position: relative;
    display: inline-flex;
}

.nav-menu li a {
    display: block;
    padding: 5px 20px;
	width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    color: #d9d9d9;
}

.nav-menu li span {
    position: absolute;
    background: rgb(15, 255, 255);
    transition: 0.5s;
    opacity: 0.5;
}

.nav-menu li .top-border {
    width: 10px;
    height: 2px;
    top: 0;
    left: 2px;
}

.nav-menu li .left-border {
    width: 2px;
    height: 10px;
    top: 0;
    left: 0;
}

.nav-menu li .right-border {
    width: 2px;
    height: 10px;
    bottom: 0;
    right: 0;
}

.nav-menu li .bottom-border {
    width: 10px;
    height: 2px;
    bottom: 0;
    right: 2px;
}

.nav-menu li img {
    display: block;
    padding: 7px 0;
}

.nav-menu li:hover .top-border,
.nav-menu li:hover .bottom-border {
    width: 80%;
    opacity: 0.5;
    box-shadow: 0 0 10px rgb(15, 255, 255), 0 0 15px rgb(15, 255, 255), 0 0 20px rgb(15, 255, 255);
}

.nav-menu li:hover .left-border,
.nav-menu li:hover .right-border {
    height: 50%;
    opacity: 0.5;
    box-shadow: 0 0 10px rgb(15, 255, 255), 0 0 15px rgb(15, 255, 255), 0 0 20px rgb(15, 255, 255);
}

.switch-home {
	display: block;
	position: relative;
	top: 10%;
}

.middle-frame {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;	
	margin-top: 4%;
	gap: 5%;
	font-family: 'Source Code Pro', sans-serif;
	color: #d9d9d9;
}

.text-container {	
	position: relative;
	align-items: center;	
}

.text-container h1 {
	font-size: 28px;
}

.text-container h2 {
	font-size: 20px;
}

.my-img-container {
	align-content: center;
}

.my-img-container img {
	width: calc(236px * 1.1);
	height: calc(275px * 1.1);
	border-radius: 15px;
	transition: box-shadow 0.5s ease;
}

.my-img-container img:hover {
	box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.5)
}

.my-img-container-2 {
	align-content: center;
}

.my-img-container-2 img {
	width: calc(236px * 1.1);
	height: calc(275px * 1.1);
	border-radius: 15px;
	transition: box-shadow 0.5s ease;
	filter: grayscale(30%)
}

.my-img-container-2 img:hover {
	box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.5)
}

.bottom-frame {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 5%;
	font-family: 'Source Code Pro', sans-serif;
	color: #d9d9d9;
}

.flip-container {
	display: inherit;
    perspective: 1000px;
}

.flipper {
    position: relative;
    width: 13vw;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-out;
    transform-origin: center center;
	min-width: 200px;
	min-height: 275px;
}

.flip-container:hover .flipper {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    justify-content: center;    
    top: 0;
    left: 0;
    transform: translateZ(0); 
}

.front {
    background-color: rgba(38, 38, 38, 0.8);
	box-shadow: 10px 10px 20px rgba(49, 49, 49, 1);
	text-align: center;
}

.image {
	width: 100%;
	height: 100%;
    object-fit: contain;
	min-width: 100%;
	min-height: 100%;
}

.front p {	
	margin-top: 5px;
	margin-bottom: 5px;
}

.back {
    background-color: rgba(38, 38, 38, 0.8);
    color: #d9d9d9;
    transform: rotateY(180deg) translateZ(0); 
    padding: 10%;
    box-sizing: border-box;
    text-align: center;
	align-items: center;
    overflow: hidden; 
	box-shadow: 10px 10px 20px rgba(49, 49, 49, 1);
}

.back p {
    margin-top: 5%;
    font-size: 1rem;
}

.switch-projects {
	display: none;
	position: relative;
	top: 10%;
}

.scroller {
	max-width: 1200px;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
}

.scroller__inner {
	display: flex;
	flex-wrap: wrap;
}

.scroller[data-animated="true"] {
	overflow: hidden;
	-webkit-mask: linear-gradient(
		90deg,
		transparent,
		white 20%,
		white 80%,
		transparent
	);
	mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
	width: max-content;
	flex-wrap: nowrap;
	animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
	animation-play-state: running;
}

.scroller[data-animated="true"]:hover .scroller__inner {
  animation-play-state: paused;
}

.scroller[data-speed="fast"] {
	--_animation-duration: 25s;
}

@keyframes scroll {
	to {
		transform: translate(calc(-50% - 0.5rem));
	  }
}

.tag-list {
	margin: 0;
	padding-inline: 0;
	list-style: none;
}

.tag-list li {
	margin-left: 1rem;
	padding: 1rem;
	border-radius: 0.5rem;
}

.tile {
	background-color: rgba(38, 38, 38, 0.8);
	border-radius: 15px;
	box-shadow: 10px 10px 20px rgba(49, 49, 49, 1);;
	width: 300px;
	height: 340px;
	display: flex;
    flex-direction: column;
    text-align: center;
	align-items: center;
	font-family: 'Source Code Pro', sans-serif;
	color: #d9d9d9;
}


.tile h1 {
	font-size: 1.3rem;
}

.tile h2 {
	font-size: 1rem;
	padding-inline: 5px;
}

.tile img {
	margin-top: auto;
	padding-bottom: 10px;
}


.switch-resume {
	display: none;
	position: relative;
	top: 10%;
}


.switch-contact {
	display: none;
	position: relative;
	top: 10%;
}

@media only screen and (max-width: 1000px) {
	.cut {
		width: 100vw;
		height: 100vh;
		align-items: center;
		min-width: 100vw;
		min-height: 100vh;
		margin: 0 auto;
		z-index: 1;
		position: relative;
	}

	.nav-container{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		justify-items: center;
		width: 100vw;
		height: auto;
		padding: 0;
		margin: 0;
	}
	
	
	.nav-left {
		display: relative; 		
		justify-content: center; 
		grid-row: 1;
		width: 100vw;
		margin-top: 2vh;
		text-align: center;
		position: relative;
	}
	
	.nav-right {
		display: flex;
		justify-content: center;    
		grid-row: 2;
		background-color: rgba(38, 38, 38, 0.8);
		border-radius: 4px;
		margin-top: 1vh;
		box-shadow: 6px 6px 11px rgba(49, 49, 49, 1);
		transition: opacity 0.5s ease, transform 0.5s ease;
	}
	
	.nav-right.show {
		opacity: 1;
		transform: translateY(0);
	}

	.nav-right.closing {
		opacity: 0;
		transform: translateY(-50%);
	}
	
	.nav-container h1{
		font-size: 1.8rem;
		margin: 0;
	}
	
	.nav-image {
		width: 2.2rem;
		height: 2.2rem;
		margin-left: 2vw;
	}
		
    .menu-close {
        display: none;
		margin: 0;
		padding: 0;
		width: 100%;
    }

	.menu-close img {
		max-width: 100%;               
		max-height: 100%;              
		margin: auto;                  
		display: block;                
		position: relative;
		z-index: 2;
	}

    .nav-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 80vw;
        background: transparent;
		border-radius: 15px;
        position: relative;
        padding: 0;
        margin-left: 10vw;
		margin-right: 10vw;
		z-index: 1000;	
		transition: opacity 0.5s ease, transform 0.5s ease;		
    }

    .nav-menu.show {
        display: flex;
		margin-top: 0;
		margin-bottom: 2vh;
		opacity: 1;
		transform: translateY(0);
    }	
	
	.nav-menu.closing {
		opacity: 0;
		transform: translateY(-50%);
	}

    .menu-close.show {
        display: block;
    }

	.nav-menu li {
		display: flex;                 
		justify-content: center;       
		align-items: center;           
		margin-top: 2vh;
		width: 50vw;
		height: 4vh;                  
		text-align: center;
		position: relative;
		z-index: 2;
	}

    .nav-menu a {
        display: block;
        text-align: center;
        padding: 2vw;
    }
	
	.switch-home {
		position: static;
		top: 0;
	}
	
	.switch-projects {
		position: static;
		top: 0;
	}
	
	.middle-frame {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		justify-items: center;	
		margin-top: 4vh;
		gap: 5vh;
		font-family: 'Source Code Pro', sans-serif;
		color: #d9d9d9;
	}

	.my-img-container {
		justify-items: center;
		grid-row: 1;

	}
	
	.my-img-container-2 {
		justify-items: center;
		grid-row: 1;

	}
	
	.text-container {	
		grid-row: 2;
		text-align: center;
		padding-left: 10vw;
		padding-right: 10vw;
	}

	.text-container h1 {
		font-size: 1.2rem;
	}

	.text-container h2 {
		font-size: 1rem;
	}

	.bottom-frame {
		flex-direction: column;
		align-items: center;
	}
	
	.flip-container {
		margin-bottom: 3vh;
	}
	
	.flipper {
		width: 25vw;
		height: 25vh;
		min-width: 250px;
		min-height: 325px;
	}
	
	.back p {
		font-size: 1rem;
	}
	
	.scroller[data-speed="fast"] {
		--_animation-duration: 60s;
	}
}

@media only screen and (min-width: 1001px) { 
	.menu-toggle {
		display: none !important;
	}

	.menu-close {
		display: none;
	}

}