@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body, html {
	justify-content: center;
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	height: 100%;
	width: 100%;
	background-color: transparent;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #212121;
}

.cut {
	width: 60vw;
	height: 100%;
	align-items: center;
	min-width: 900px;
	margin: 0 auto;
	z-index: 1;
	position: relative;
}

.nav-container{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	font-size: 16px;	
	font-family: 'Source Code Pro', sans-serif;
	background: transparent;
	position: relative;
}

.nav-left {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
}

.nav-container h1{
	font-size: 28px;
	margin: 0;
	color: #d9d9d9;
}

.nav-image {
	width: 40px;
	height: auto;
    margin-left: 30px;
}

.menu-toggle,
.menu-close {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.menu-toggle {
    display: flex;
	width: 50vw;
	max-height: 4vh;
	padding: 5px 20px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.menu-toggle span {
    position: absolute;
    background: rgb(15, 255, 255);
    transition: 0.5s;
    opacity: 0.5;
}

.menu-toggle .top-border {
    width: 10px;
    height: 2px;
    top: 0;
    left: 2px;
}

.menu-toggle .left-border {
    width: 2px;
    height: 10px;
    top: 0;
    left: 0;
}

.menu-toggle .right-border {
    width: 2px;
    height: 10px;
    bottom: 0;
    right: 0;
}

.menu-toggle .bottom-border {
    width: 10px;
    height: 2px;
    bottom: 0;
    right: 2px;
}

.menu-toggle:hover .top-border,
.menu-toggle:hover .bottom-border {
    width: 80%;
    opacity: 0.5;
    box-shadow: 0 0 10px rgb(15, 255, 255), 0 0 15px rgb(15, 255, 255), 0 0 20px rgb(15, 255, 255);
}

.menu-toggle:hover .left-border,
.menu-toggle:hover .right-border {
    height: 50%;
    opacity: 0.5;
    box-shadow: 0 0 10px rgb(15, 255, 255), 0 0 15px rgb(15, 255, 255), 0 0 20px rgb(15, 255, 255);
}

.nav-right {
	display: flex;
    justify-content: flex-end;    
    width: 70%;
}

.nav-menu {
    background: transparent;
	list-style: none;
	padding: 0 auto;
}

.nav-menu li {
    position: relative;
    display: inline-flex;
}

.nav-menu li a {
    display: block;
    padding: 5px 20px;
	width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    color: #d9d9d9;
}

.nav-menu li span {
    position: absolute;
    background: rgb(15, 255, 255);
    transition: 0.5s;
    opacity: 0.5;
}

.nav-menu li .top-border {
    width: 10px;
    height: 2px;
    top: 0;
    left: 2px;
}

.nav-menu li .left-border {
    width: 2px;
    height: 10px;
    top: 0;
    left: 0;
}

.nav-menu li .right-border {
    width: 2px;
    height: 10px;
    bottom: 0;
    right: 0;
}

.nav-menu li .bottom-border {
    width: 10px;
    height: 2px;
    bottom: 0;
    right: 2px;
}

.nav-menu li img {
    display: block;
    padding: 7px 0;
}

.nav-menu li:hover .top-border,
.nav-menu li:hover .bottom-border {
    width: 80%;
    opacity: 0.5;
    box-shadow: 0 0 10px rgb(15, 255, 255), 0 0 15px rgb(15, 255, 255), 0 0 20px rgb(15, 255, 255);
}

.nav-menu li:hover .left-border,
.nav-menu li:hover .right-border {
    height: 50%;
    opacity: 0.5;
    box-shadow: 0 0 10px rgb(15, 255, 255), 0 0 15px rgb(15, 255, 255), 0 0 20px rgb(15, 255, 255);
}

.middle-frame {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;	
	margin-top: 4%;
	gap: 5%;
	font-family: 'Source Code Pro', sans-serif;
	color: #d9d9d9;
}

.text-container {	
	position: relative;
	align-items: center;	
}

.text-container h1 {
	font-size: 28px;
}

.text-container h2 {
	font-size: 20px;
}

.my-img-container {
	align-content: center;
}

.my-img-container img {
	width: calc(236px * 1.1);
	height: calc(275px * 1.1);
	border-radius: 15px;
	transition: box-shadow 0.5s ease;
}

.my-img-container img:hover {
	box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.5)
}

.bottom-frame {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 5%;
	font-family: 'Source Code Pro', sans-serif;
	color: #d9d9d9;
}

.flip-container {
	display: inherit;
    perspective: 1000px;
}

.flipper {
    position: relative;
    width: 13vw;
    height: 35vh;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-out;
    transform-origin: center center;
	min-width: 200px;
	min-height: 275px;
}

.flip-container:hover .flipper {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    transform: translateZ(0); 
}

.front {
    background-color: rgba(38, 38, 38, 0.8);
	box-shadow: 10px 10px 20px rgba(49, 49, 49, 0.5);
}

.image {
	width: 100%;
	height: 100%;
    object-fit: contain;
	min-width: 100%;
	min-height: 100%;
}

.back {
    background-color: rgba(38, 38, 38, 0.8);
    color: #d9d9d9;
    transform: rotateY(180deg) translateZ(0); 
    padding: 10%;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden; 
	box-shadow: 10px 10px 20px rgba(49, 49, 49, 0.5);
}

.back p {
    margin-top: 5%;
    font-size: 1vw;
}

@media only screen and (max-width: 1000px) {
	.cut {
		width: 100vw;
		height: 100vh;
		align-items: center;
		min-width: 100vw;
		margin: 0 auto;
		z-index: 1;
		position: relative;
	}

	.nav-container{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		justify-items: center;
		width: 100vw;
		height: auto;
		padding: 0;
		margin: 0;
	}
	
	
	.nav-left {
		display: relative; 		
		justify-content: center; 
		grid-row: 1;
		width: 100vw;
		margin-top: 2vh;
		text-align: center;
		position: relative;
	}
	
	.nav-right {
		display: flex;
		justify-content: center;    
		grid-row: 2;
		background-color: rgba(38, 38, 38, 0.8);
		border-radius: 4px;
		margin-top: 1vh;
	}
	
	.nav-container h1{
		font-size: 1.5rem;
		margin: 0;
	}
	
	.nav-image {
		width: 6vw;
		height: auto;
		margin-left: 2vw;
	}
		
    .menu-close {
        display: none;
		margin: 0;
		padding: 0;
		width: 100%;
    }

	.menu-close img {
		max-width: 100%;               
		max-height: 100%;              
		margin: auto;                  
		display: block;                
		position: relative;
		z-index: 2;
	}

    .nav-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 80vw;
        background: transparent;
		border-radius: 15px;
        position: relative;
        padding: 0;
        margin-left: 10vw;
		margin-right: 10vw;
		z-index: 1000;		
    }

    .nav-menu.show {
        display: flex;
		margin-top: 0;
		margin-bottom: 2vh;
    }	

    .menu-close.show {
        display: block;
    }

	.nav-menu li {
		display: flex;                 
		justify-content: center;       
		align-items: center;           
		margin-top: 2vh;
		width: 50vw;
		height: 4vh;                  
		text-align: center;
		position: relative;
		z-index: 2;
	}

    .nav-menu a {
        display: block;
        text-align: center;
        padding: 2vw;
    }
	
	.middle-frame {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		justify-items: center;	
		margin-top: 4vh;
		gap: 5vh;
		font-family: 'Source Code Pro', sans-serif;
		color: #d9d9d9;
	}

	.my-img-container {
		justify-items: center;
		grid-row: 1;

	}
	
	.text-container {	
		grid-row: 2;
		text-align: center;
		padding-left: 10vw;
		padding-right: 10vw;
	}

	.text-container h1 {
		font-size: 1.2rem;
	}

	.text-container h2 {
		font-size: 1rem;
	}

	
}

@media only screen and (min-width: 1001px) { 
	.menu-toggle {
		display: none !important;
	}

	.menu-close {
		display: none;
	}

}